@model BookingOZCoreWebApp.Models.Location

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<h1>Details</h1>

<div>
    <h4>Location</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10 description">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class = "col-sm-2" >
            @Html.DisplayNameFor(model => model.Lat)
        </dt>
        <dd class= "col-sm-10 latitude">
            @Html.DisplayFor(model => model.Lat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Long)
        </dt>
        <dd class="col-sm-10 longitude">
            @Html.DisplayFor(model => model.Long)
        </dd>
    </dl>
</div>
<div id="map" style="width:400px; height:300px;"></div>
<script>
    // TO MAKE THE MAP APPEAR YOU MUST
    // ADD YOUR ACCESS TOKEN FROM
    // https://account.mapbox.com
    var data = [];
    var latitude = parseFloat($(".latitude").text().trim());
    var longitude = parseFloat($(".longitude").text().trim());
    var description = $(".description").text().trim();
    
    console.log(latitude)
    mapboxgl.accessToken = 'pk.eyJ1IjoibGVvbmFyZG9wcmFzZXR5bzUiLCJhIjoiY2xsNTRvb2N4MGFtbzNlcGJ4cnk3ZTBqYSJ9.UK3uU3QgfCZ3hyc6pcVHJw';
    const map = new mapboxgl.Map({
        container: 'map', // container ID
        // Choose from Mapbox's core styles, or make your own style with Mapbox Studio
        style: 'mapbox://styles/mapbox/streets-v10', // style URL
        center: [longitude, latitude], // starting position [lng, lat]
        zoom: 11 // starting zoom
    });
    const marker = new mapboxgl.Marker().setLngLat([longitude, latitude]).addTo(map);
    
    
    
</script>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

