@model BookingOZCoreWebApp.Models.Booking

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Booking</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ServiceName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ServiceName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PatientId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PatientId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StaffId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StaffId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Location.Name)
        </dd>
    </dl>
    @if (Model.IsFinalised)
    {
        <h4>Attatched Report</h4>
        <hr />
        <dt class="col-sm-2">
            Report File Name
        </dt>
        <dd class="col-sm-10">
            @ViewBag.ReportFile
        </dd>

        <dt class="col-sm-2">
            Staff Comments
        </dt>
        <dd class="col-sm-10">
            @ViewBag.ReportComments
        </dd>

        <h4>User Rating</h4>
        <hr />
        <dt class="col-sm-2">
            Rating Grade
        </dt>
        <dd class="col-sm-10">
            @ViewBag.RatingGrade 
        </dd>
        <dt class="col-sm-2">
            User Review
        </dt>
        <dd class="col-sm-10">
            @ViewBag.RatingComments
        </dd>

    }   
    
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    @if (@Model.IsFinalised)
    {
        <a asp-action="PreviousBooking">Back to List</a>
    }
    else
    {
        <a asp-action="Index">Back to List</a>
    }

</div>
